# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment
.env

# Database
*.h2.db
*.mv.db

# Flyway
/flyway.conf

# Application
application-local.yml
application-dev.yml
application-prod.yml
