# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
*.iml
.idea/
*.ipr
*.iws
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class

# Spring Boot
application-local.yml

# Others
.env
node_modules/
dist/
build/